.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: var(--ion-color-secondary-shade);
}

.my-custom {
  --background: #e5e5e5;
}

.secondary-shade-bg {
  --background: var(--ion-color-secondary-shade);
}

hr {
  height: 1px !important;
  width: 99% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  background: lightgray !important;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-item {
  padding-right: 16px;
}

ion-button {
  text-transform: none;
}

ion-img {
  max-width: 300px; 
  max-height: 300px; 
  display: block; 
  margin: 0 auto;
} 

ion-card {
  text-align: center;
}

ion-toolbar {
  --background: var(--ion-color-secondary-shade);
}

ion-toolbar > ion-title {
  color: var(--ion-color-light);
}

ion-buttons {
  color: var(--ion-color-light);
}

