<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button [disabled]='true' (click)="downloadQR()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <ion-button [disabled]='true'>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>
      <ion-title class="ion-text-center">
        Código QR de Usuario:
      </ion-title><br>
      <hr>
      <ngx-qrcode [elementType]="'canvas'" [value]="user.Carnet" [version]="7">
      </ngx-qrcode>
      <hr><br>
    </ion-card-content>    
  </ion-card>
</ion-content>